<form
  action=""
  class="flex items-center border gap-8 py-1 pr-1.5 pl-6 rounded-lg justify-between"
>
  <section class="border w-[35px]">
    <img src="./assets/icon-search.svg" alt="" class="" />
  </section>

  <input
    type="text"
    name="text"
    class="placeholder:text-sm placeholder:text-blue-800 focus:outline-none text-darkModeBodyColor w-[70%]"
    placeholder="Search Github username..."
    id=""
  />
  <button class="bg-iconButtonColor py-3 px-5 rounded-lg font-bold text-white">
    Search
  </button>
</form>
